@font-face {
    font-family: 'Azoft Sans';
    src: url('../fonts/AzoftSans-Bold.eot');
    src: url('../fonts/AzoftSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AzoftSans-Bold.woff2') format('woff2'),
        url('../fonts/AzoftSans-Bold.woff') format('woff'),
        url('../fonts/AzoftSans-Bold.ttf') format('truetype'),
        url('../fonts/AzoftSans-Bold.svg#AzoftSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}