@import "fonts.css";
@import "reset.css";

header {
   background: #F3F3F3;
   padding: 10px 0;
}

body {
   background: #FCFCFC;
}

#show-menu,
#close {
	display: none;
}

.top-menu {
   text-align: right;
}

.top-menu__item {
   display: inline-block;
   position: relative;
   margin-right: 20px;
   list-style: none;
}

.top-menu__item:last-child {
   padding-left: 23px;
   margin-right: 0;
}

.head-address i {
   font-size: 16px;
}

.head-address,
.top-menu__item a {
   font-size: 12px;
   color: #000;
}

.top-menu__item a.active {
   color: #fb5600;
}

.top-menu__item a:hover {
   text-decoration: underline;
}

.icon-signIn {
   background-image: url("../img/vhod.png");
   background-repeat: no-repeat;
   display: inline-block;
   position: absolute;
   height: 19px;
   width: 19px;
   top: 0px;
   left: -3px;
}

.contacts {
   padding-left: 22px;
}

.icon-phone-volume {
   background-image: url("../img/contact.png");
   background-repeat: no-repeat;
   display: inline-block;
   position: absolute;
   height: 17px;
   width: 15px;
   top: 2px;
   left: -2px;
}

/*second screen*/

.brand {
   padding: 25px 0;
   margin-bottom: 5px;
}

.order-button,
.inf0__order-button,
.logo-block,
.user-likes,
.user-cart {
   align-items: center;
   display: flex;
}

.logo-block__logo,
.footer-logo {
   background-image: url("../img/logo.png");
   background-repeat: no-repeat;
   background-size: cover;
   display: inline-block;
   width: 195px;
   height: 75px;
}

.logo-block__choose-region {
   width: 75px;
   margin-left: 15px;
   color: #00ce5b;
   outline: none;
   border: none;
}

.user-cart,
.user-likes,
.our-feedback-info,
.order-button {
   height: 75px;
}

.user-cart a,
.user-likes a {
   transition: all .2s ease-in;
   position: relative;
   padding-left: 38px;
   color: #000;
}

.user-cart a:hover {
   color: #FF7200;
}

.user-likes a:hover {
   color: #00ce5b;
}

.cart__iter,
.likes__iter {
   display: inline-block;
   position: absolute;
   font-size: 11px;
   left: 22.5px;
   color: white;
   top: -0.5px;
}

.likes__iter {
   top: -0.1px;
   left: 21.5px;
}

.user-cart__icon,
.user-likes__icon {
   background-image: url("../img/cart.png");
   background-repeat: no-repeat;
   background-size: cover;
   display: inline-block;
   position: absolute;
   height: 28px;
   width: 34px;
   top: -7px;
   left: 0;
}

.user-likes__icon {
   background-image: url("../img/heart.png");
   height: 29px;
   width: 33px;
}

.our-feedback-info {
   padding: 20px 0 0;
}

.feedback__number,
.info__phone {
   font-size: 24px;
   line-height: 25px;
}

.number__small,
.info__smaller-text {
   font-size: 18px;
}

.order-button a,
.info__order-button a {
   background: linear-gradient(to top, #f30518, #fbb100);
   border-radius: 25px;
   text-align: center;
   line-height: 40px;
   color: white;
   height: 39px;
   width: 163px;
}

.order-button a:hover,
.info__order-button a:hover {
   background: linear-gradient(to top, #fbb100, #f30518);
}

/*sidebar*/

/*catalogue*/

.fa-chevron-right {
   color: #797875;
   float: right;
   transition: all .2s ease-in;
}

.catalogue {
   box-shadow: 0 3px 30px darkgrey;
   background: #FFF;
   margin-bottom: 30px;
}

.catalogue,
.catalogue-menu {
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

.catalogue__title,
.catalogue {
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

.catalogue__title {
   background: linear-gradient(to top, #f30518, #fbb100);
   padding: 15px 20px 15px 55px;
   position: relative;
   margin-bottom: 0;
   font-size: 16px;
   color: #FFF;
}

.fa-bars {
   border-top-right-radius: none;
   border-top-left-radius: none;
   position: absolute;
   margin-right: 15px;
   font-size: 24px;
   left: 20px;
   top: 13px;
}

.catalogue-menu {
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

.catalogue-menu__item {
   position: relative;
}

.catalogue-menu__item a,
.catalogue .dop-mobile ul li a {
   transition: all .2s ease-in;
   display: inline-block;
   border-bottom: 1px solid silver;
   padding: 15px 20px;
   color: #000;
   width: 100%;
}

.catalogue-menu__item a:hover {
   background: #F6F6F6;
}

.catalogue-menu__item:hover .submenu {
   display: block;
}

.catalogue-menu__item:hover .submenu2 {
   display: block;
}

.catalogue-menu__item a:hover .fa-chevron-right {
   transform: rotate(180deg);
}

.submenu, .submenu2 {
   border-bottom-right-radius: 10px;
   z-index: 100000;
   box-shadow: 0 3px 10px darkgrey;
   border-bottom-left-radius: 10px;
   border-top-right-radius: 10px;
   transition: all .2s ease-in;
   border-top-left-radius: 0;
   position: absolute;
   background: #FFF;
   display: none;
   right: -745px;
   height: 365px;
   padding: 20px;
   width: 745px;
   top: 0;
}

.sub-menu {
   border-bottom: 1px solid #e5e5e5;
   margin-bottom: 20px;
}

.sub-menu-first__item a,
.sub-menu-second__item a,
.sub-menu-third__item a {
   color: #01B670;
   margin-left: 0;
   margin-bottom: 5px;
   padding: 0;
}

.sub-menu-first__item a:hover,
.sub-menu-second__item a:hover,
.sub-menu-third__item a:hover {
   text-decoration: none;
   background-color: unset;
}

.sub-menu__item a {
   margin-bottom: 5px;
   margin-left: 10px;
   color: #000;
   padding: 0;
}

.sub-menu__item.all a {
   margin-bottom: 5px;
   font-size: 10px;
   color: #989797;
   margin-left: 0;
}

.sub-menu__item.all a:hover,
.sub-menu__item a:hover {
   text-decoration: underline;
   background-color: unset;
}

.sub-menu__item.all a:hover .fa-chevron-right {
   transform: none;
}

.sub-menu__item.all a .fa-chevron-right {
   margin-left: 3px;
   color: #989797;
   font-size: 8px;
   float: unset;
}

.submenu2 {
   width: 735px;
   right: -735px;
   padding: 0;
}

.sub-menu2 {
   display: none;
   position: absolute;
   width: 100%;
   right: -100%;
   top: 0;
}

.submenu2 .sub-menu .catalogue-menu__item:hover .sub-menu2 {
   display: block;
}

.submenu2 .sub-menu {
   border-right: 1px solid #e5e5e5;
   border-bottom: none;
   z-index: 100000;
}

.submenu2 .catalogue-menu__item a {
   padding: 13.75px 20px;
}

.submenu2 .catalogue-menu__item:last-child {
   border-bottom-left-radius: 10px;
}


.sub-menu-first .sub-menu-first__item i,
.sub-menu-second .sub-menu-second__item i,
.sub-menu-third .sub-menu-third__item i{
	display: none;
}

.sub-menu-first .sub-menu-first__item .all i,
.sub-menu-second .sub-menu-second__item .all i,
.sub-menu-third .sub-menu-third__item .all i{
	display: inline-block;
}


.catalogue .dop-mobile {
   display: none;
}
.catalogue .dop-mobile > ul > li {
   
}
.catalogue .dop-mobile > ul > li > a {
   
}


/*product day*/

.product-day {
   width: 225px;
   height: 335px;
   border-radius: 10px;
   color: #000;
   border: 1px solid #e5e5e5;
   float: right;
   margin-top: 15px;
   background: #FFF;
   position: relative !important;
   margin-right: 15px;
}

.product-day .wrap {
   width: 100%;
   position: relative;
   color: #000;
   height: 100%;
   display: block;
   padding-top: 45px;
}

.product-day .wrap:hover {
   color: black;
}

.product__sticker,
.product__status,
.product__percent,
.product__button-cart,
.product__size,
.product__button-likes {
   position: absolute;
   display: block !important;
}

.product__sticker {
   top: 0;
   left: 15px;
   background: #424242;
   color: #FFF;
   font-size: 13px;
   width: 112px;
   height: 40px;
   text-align: center;
   line-height: 41px;
   border-bottom-left-radius: 7px;
   border-bottom-right-radius: zpx;
}

.product__status,
.product__percent {
   top: 10px;
   right: 15px;
   width: 65px;
   color: #FFF;
   background: linear-gradient(to top, #f30518, #fbb100);
   height: 25px;
   text-align: center;
   line-height: 25px;
   border-radius: 20px;
   font-size: 13.64px;
}

.product__percent {
   top: 40px;
   background: linear-gradient(to top, #4bc198, #5ecd63);
}

.product__img {
   background-image: url("../img/2slider-slide.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 150px;
   width: 100%;
   margin-bottom: 15px;
}

.product__name {
   text-align: center;
   font-size: 14px;
   margin-bottom: 10px;
}

.product__old-price,
.product__new-price {
   color: #ABABAB;
   display: block;
   text-align: center;
}

.product__new-price {
   color: #000;
   font-size: 18px;
}

.product__button-cart {
   width: 85px !important;
   background: linear-gradient(to top, #4bc198, #5ecd63);
   border-radius: 4px;
   height: 35px;
   left: 12px;
   bottom: 7px;
}

.product__button-cart span {
   width: 20px;
   height: 20px;
   display: block;
   background-image: url("../img/cart2slider.png");
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   bottom: 7px;
   right: 33px;
}

.product__button-cart:hover {
   background: linear-gradient(to top, #5ecd63, #4bc198) !important;
}

.product__size {
   bottom: 15px;
   right: 50%;
   transform: translate(105%);
}

.product__button-likes {
   width: 45px !important;
   background: #F1F3F5;
   border-radius: 4px;
   bottom: 7px;
   height: 35px;
   right: 13px;
   padding: 0 !important;
}

.product__button-likes span {
   background-image: url("../img/like2slider.png");
   background-repeat: no-repeat;
   background-position: center;
   display: block;
   width: 20px;
   height: 20px;
   position: absolute;
   top: 8px;
   left: 12px;
}

.product__button-likes:hover {
   background: #e2e2e2 !important;
}

/* advantage */

.advantage,
.delivery,
.services {
   margin-bottom: 50px;
}

.advantage__title,
.delivery__title,
.services__title,
.news__title {
   color: #262B2F;
   font-size: 16px;
   padding: 15px 0;
   text-align: center;
   background: #F1F3F5;
   border-radius: 10px;
   margin-bottom: 15px;
}

.list__item,
.services-list__item {
   position: relative;
   padding-left: 50px;
   padding-right: 10px;
   margin-bottom: 15px;
   line-height: 130%;
}
.list__item a {
   display: inline-block;
   color: #000;
}
.list__item:hover a {
   color: #fb5600;
}

.list__item span,
.services-list__item span {
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   position: absolute;
   top: 0;
   left: 7px;
   width: 33px;
   height: 33px;
}

.list__item .people {
   background-image: url("../img/people.png");
   top: 4px;
}

.list__item .startup {
   background-image: url("../img/startup.png");
   top: -7px;
}

.list__item .settings {
   background-image: url("../img/settings.png");
   top: -3px;
}

.list__item .choice {
   background-image: url("../img/choises.png");
   top: 0px;
}

/* delivery */

.delivery {

}

.delivery__title {
   color: white;
   padding: 0;
}

.delivery__title a {
   color: #fff;
   background: linear-gradient(to top, #5dcd65, #4bc199);
   display: block;
   width: 100%;
   padding: 15px 0;
   border-radius: 10px;
   font-size: 16px;
}

.delivery__title a:hover {
   background: linear-gradient(to top, #4bc199, #5dcd65);
}

.delivery__list {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.delivery-list__item {
   flex-basis: 45%;
   border-radius: 10px;
}

.delivery-list__item a {
   position: relative;
   display: inline-block;
   width: 100%;
   text-align: center;
   padding-top: 90px;
   cursor: pointer;
   padding-bottom: 15px;
   color: #000;
}

.delivery-list__item:hover {
   box-shadow: 0 3px 25px silver;
}

.bus,
.train,
.fly,
.cruise {
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   width: 65px;
   height: 65px;
   position: absolute;
   top: 15px;
   left: 22%;
   display: block;
}

.bus {
   background-image: url("../img/bus.png");
}

.train {
   background-image: url("../img/train.png");
}

.fly {
   background-image: url("../img/fly.png");
}

.cruise {
   background-image: url("../img/cruise.png");
}

/* services */

.services {

}

.services__title {
   margin-bottom: 20px;
}

.services-list__item {
   margin-bottom: 35px;
}

.services-list__item span {
   top: -5px;
}

.services-list__item a {
   color: #000;
   display: block;
}

.services-list__item a:hover {
   color: #fb5600;
}

.services-list__item .factory {
   background-image: url("../img/factory.png");
}

.services-list__item .slice {
   background-image: url("../img/lezvie.png");
   top: -14px;
}

.services-list__item .rubka {
   background-image: url("../img/pila.png");
   top: -12px;
}

.services-list__item .rasbuhtovka {
   background-image: url("../img/rabuhtovka.png");
   top: -10px;
}

.services-list__item .plazma {
   background-image: url("../img/plazma.png");
   top: -10px;
}

/* news */

.news__list {
   display: flex;
   flex-flow: row wrap;
}

.news__list hr {
   height: 1px;
   width: 80%;
   margin: 5px auto;
}

.news__title {
   margin-bottom: 10px;
}

.news-list__item {
   flex-basis: 100%;
   padding: 7px;
   transition: all .2s ease-in;
   padding-left: 83px;
   position: relative;
}

.news-list__item:hover {
   background: #FFF;
   border-radius: 10px;
   box-shadow: 0 2px 15px silver;
}

.news-list__item:last-child {
   margin-bottom: 5px;
}

.news-list__item a {
   display: block;
   color: #000;
   line-height: 130%;
   font-size: 11px;
}

.news__img,
.news__date {
   font-size: 10px;
}

.news__img {
   position: absolute;
   top: 10px;
   left: 10px;
   width: 65px;
   height: 52px;
   background-image: url("../img/politik.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}

.news__date {
   color: #929191;
   text-align: right;
   display: block;
}

.more-news {
   width: 190px;
   border-radius: 7px;
   display: block;
   margin: 0 auto;
   padding: 13px 0;
   color: #FFF;
   text-align: center;
   background: linear-gradient(to right, #5dcd65, #4bc199);
}

.more-news:hover {
   color: #FFF;
   background: linear-gradient(to right, #4bc199, #5dcd65);
}


/* main */

/*search form*/
main .col-lg-12 {
   padding: 0 15px;
}

.search-form {
   position: relative;
   box-shadow: 0 0 20px silver;
   border-radius: 20px;
   margin-bottom: 30px;
}

#search-select,
.form__submit {
   width: 105px;
   height: 50px;
   line-height: 50px;
   font-size: 13px;
   position: absolute;
   border-radius: 10px;
   outline: none;
}

#search-select {
   padding-left: 20px;
   border: none;
   border-right: 1px solid silver;
   left: 0;
   top: 0;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   z-index: 150;
}

.form__search {
   font-size: 10px;
   color: #787878;
   width: 88%;
   padding-left: 130px;
   height: 50px;
   position: relative;
   z-index: 100;
   border: none;
   outline: none;
   border-radius: 10px;
}

.form__submit {
   background: linear-gradient(to top, #5dcd65, #4bc199);
   color: #FFF;
   border: none;
   cursor: pointer;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   right: 0;
   top: 0;
}

.form__submit:hover {
   background: linear-gradient(to top, #4bc199, #5dcd65);
}

/* main slider*/

#main-slider {
   padding: 0;
}

#main-slider .draggable {
   height: 256px;
   border-radius: 10px;
   box-shadow: 0 3px 20px silver;
}

#main-slider .slick-slide {
   border-radius: 10px;
   height: 256px;
   width: 825px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   outline: none;
}

#main-slider .slick-next,
#second-slider .slick-next {
   right: 0;
}

#main-slider .slick-prev,
#main-slider .slick-next,
#second-slider .slick-prev,
#second-slider .slick-next {
   width: 45px;
   height: 45px;
   background-color: #FFF;
   border-radius: 50%;
   box-shadow: 0 2px 10px silver;
}

#main-slider .slick-prev:before,
#main-slider .slick-next:before,
#second-slider .slick-prev:before,
#second-slider .slick-next:before {
   content: ">";
   color: black;
   display: block;
   opacity: 1;
   height: 10px;
   top: 10px;
   position: absolute;
   left: 40%;
}

#main-slider .slick-prev.slick-disabled:before,
#main-slider .slick-next.slick-disabled:before,
#second-slider .slick-prev.slick-disabled:before,
#second-slider .slick-next.slick-disabled:before {
   opacity: 1;
}

#main-slider .slick-prev:hover,
#main-slider .slick-next:hover,
#second-slider .slick-prev:hover,
#second-slider .slick-next:hover {
   background: white;
}

#main-slider .slick-prev:before,
#second-slider .slick-prev:before {
   content: "<";
}

#main-slider .slick-prev,
#second-slider .slick-prev {
   left: 0;
   z-index: 1000;
}

#main-slider .slick-dots {
   bottom: -40px;
   margin-bottom: 5px;
}

#main-slider .slick-dots li button {
   border-radius: 50%;
   width: 10px;
   height: 10px;
   background: #FFF;
   box-shadow: 0 0 7px grey;
}
#main-slider .slick-dots li:hover button {
   background: linear-gradient(to top, #f30518, #fbb100);
}

#main-slider .slick-dots .slick-active button {
   background: linear-gradient(to top, #f30518, #fbb100);
}

#main-slider .slick-dots li button:before {
   content: none;
}

/* Second slider */

#second-slider {
   padding: 0;
   margin-bottom: 30px;
   position: relative;
}

#second-slider p {
   font-size: 16px;
   padding: 0 15px;
}

#second-slider p a {
   float: right;
   color: #424242;
   font-size: 10px;
}

#second-slider .draggable {
   width: 100%;
   margin-left: -8px;
   padding: 15px;
}

#second-slider .slick-slide .product-day .wrap{
   outline: none;
}

#second-slider .slick-slide {
   width: 235px !important;
}

#second-slider .slick-slide:hover .product-day  {
   box-shadow: 0 0 20px silver;
}

#second-slider .slick-slide:first-child {
   width: 225px !important;
}

#second-slider:after {
   content: "";
   display: block;
   position: absolute;
   right: 15px;
   z-index: 0;
   top: 35px;
   height: 335px;
   width: 40px;
   background: linear-gradient(to left, #fcfcfc, transparent);
}

#second-slider .slick-next {
   z-index: 1000;
}

#second-slider .slick-next,
#second-slider .slick-prev {
   box-shadow: 4px 5px 30px silver;
}

#second-slider .product-day {
   overflow: hidden;
   margin: 0;
}

#second-slider .product__status {
   left: -45px;
   top: 7px;
   transform: rotate(-30deg);
   border-radius: 0;
   background: linear-gradient(to top, #fbb100, #f30518);
   width: 140px;
}

#second-slider .product__percent {
   top: 15px;
   right: 10px;
}




/* metal offer */

.metal-base-offer {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   margin-bottom: 70px;
}

.offer__title {
   flex-basis: 100%;
   color: #000;
   font-size: 16px;
   margin-bottom: 17px;
}

.offer__item {
   flex-basis: 31%;
   cursor: pointer;
   margin-bottom: 15px;
   border-radius: 10px;
   height: 120px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
   background-image: url("../img/armatura.png");
}
.offer__item:nth-child(3) {
   background-image: url("../img/shveller.png");
}
.offer__item:nth-child(4) {
   background-image: url("../img/list.png");
}
.offer__item:nth-child(5) {
   background-image: url("../img/balka.png");
}
.offer__item:nth-child(6) {
   background-image: url("../img/ugolok.png");
}
.offer__item:nth-child(7) {
   background-image: url("../img/setka.png");
}
.offer__item:nth-child(9) {
   background-image: url("../img/shveller.png");
}
.offer__item:nth-child(10) {
   background-image: url("../img/list.png");
}
.offer__item:after {
   content: "";
   display: block;
   width: 100%;
   top: 0;
   left: 0;
   border-radius: 10px;
   height: 100%;
   transition: all.2s ease-in;
   position: absolute;
   z-index: 1;
   opacity: 0;
   background: linear-gradient(to bottom, #ff0017, #ffb508);
}
.offer__item:hover:after {
   opacity: .8;
}
.offer__item h2 {
   transition: all.4s ease-in;
   text-align: center;
   color: #FFF;
   width: 160px;
   z-index: 100;
   height: 50px;
   position: relative;
   top: 50%;
   margin: 0 auto;
   line-height: 49px;
   margin-top: -25px;
   border: 2px solid transparent;
}

.img_truck {
   margin-bottom: 50px;
   width: 103%;
   margin-left: -10px;
   transition: all.2s ease-in-out;
   height: 205px;
   background-image: url("../img/otgruzka.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.img_truck:hover {
   background-image: url("../img/blue_truck.png");
}




/* about */

.about {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}

.about__title {
   font-size: 16px;
   margin-bottom: 25px;
   flex-basis: 100%;
}

.about__left-text,
.about__right-text {
   flex-basis: 47%;
}


#news-modile {
	display: none;
}









/* footer */

footer {
   margin-top: 95px;
   background: #161616;
   padding: 35px 0 20px;
}

footer .row {
   display: flex;
   justify-content: space-between;
}

footer * {
   color: #fff;
}

/* base */

.copyright,
.soc-net,
.info {
   display: flex;
   flex-basis: 33%;
   flex-flow: row wrap;
   justify-content: space-between;
}

.copyright {
   margin-top: 10px;
}

.logo-block,
.copyright__text {
   flex-basis: 49%;
   align-self: start;
}

.footer-logo {
   background-image: url("../img/logo_footer.png");
   width: 165px;
   height: 65px;
   margin-right: 25px;t
}

/* copyright */

.copyright__text h4 {
   font-size: 13px;
}
.copyright__text p {
   line-height: 120%;
   color: #9F9E9E;
   font-size: 10px;
}

.copyright .head-address {
   color: #fff;
   align-self: flex-end;
}

/* soc-net */

.soc-net {
   align-self: center;
}

.soc-menu {
   text-align: center;
   display: flex;
   margin: 0 auto;
}

.soc-menu__item {
   margin-right: 12px;
}
.soc-menu__item:last-child {
   margin-right: 0;
}
.soc-menu__item:hover a {
   background: #F8AA05;
}

.soc-menu__item a {
   display: block;
   transition: all.2s;
   height: 32px;
   width: 32px;
   line-height: 34px;
   background-color: #FFF;
   border-radius: 50%;
   box-shadow: 0 0 20px rgba(255,0,0,.5);
}

.soc-menu__item a  i {
   font-size: 14px;
   color: #000;
}

/* info */

.info__left-info {
   text-align: center;
}

.info .order-button a {
   font-size: 9.54px;
   height: 30px;
   line-height: 30px;
}

.info .order-button {
   margin: 0 auto;
   height: 45px;
   width: 130px;
}

.info__schedule {
   color: #FEFEFE;
   line-height: 120%;
   font-size: 10px;
}

.info__right-info {
   width: 130px;
}

.info__right-info p {
   border-bottom: 2px solid #00ce5b;
   margin-bottom: 10px;
   padding-left: 5px;
   padding-bottom: 2px;
   font-size: 10px;
}




/* media queries */

@media only screen and (max-width: 1199px) {
	.top-menu__item {
		margin-right: 10px;
	}
	.top-menu__item a {
		font-size: 10px;
	}

	.number__small,
	.feedback__number {
		font-size: 17px;
	}

	.advantage, .delivery, .services {
		margin-bottom: 25px;
	}

	.advantage__title,
	.delivery__title,
	.services__title,
	.news__title {
		font-size: 15px;
	}

	#main-slider .slick-slide {
   	background-position: right;
   }

	#second-slider .slick-slide {
	   width: 255px !important;
	}

	.metal-base-offer {
		margin-bottom: 35px;
	}

	.img_truck {
      background-size: contain;
	}


	footer {
		padding-bottom: 35px;
	}
	.footer-logo {
	   width: 145px;
	   height: 55px;
	   margin-right: 0;
   }
   .copyright .head-address {
   	margin-top: 15px;
   }
}


@media only screen and (max-width: 991px) {
   header {
      display: none;
   }

	.head-address,
	.top-menu {
		text-align: center;
	}
	.head-address {
		margin-bottom: 10px;
	}
	.top-menu {
		display: flex;
      justify-content: space-around;
	}

	#aside {
		position: absolute;
		top: 0;
		z-index: 10000;
		left: -50%;
	}
	#aside .catalogue,
	#aside .catalogue__title {
		border-radius: 0;
	}
	#aside .advantage,
	#aside .delivery,
	#aside .services,
	#aside .news {
		display: none;
	}

	#close {
		position: absolute;
		top: 1px;
		right: 2px;
		display: block;
		text-align: center;
		line-height: 39px;
		font-size: 30px;
		color: grey;
		background: #FFF;
		border-radius: 50%;
		cursor: pointer;
		width: 45px;
  	   padding-right: 5px;
		height: 45px;
		border: 5px solid grey;
		animation-name: undilink;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}

	#show-menu {
		display: inline-block;
      padding: 0 20px 0 55px;
      line-height: 45px;
		height: 45px;
		box-shadow: 0 0 20px silver;
		border-radius: 10px;
      background: linear-gradient(to bottom, #ffb508, #ff0017);
		top: 10px;
		z-index: 1000;
		left: 10px;
		cursor: pointer;
      font-size: 16px;
      position: relative;
      color: #fff;
		text-align: center;
		animation-name: dilink;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}
	#show-menu i {
		display: block;
      position: absolute;
		top: 7px;
		font-size: 31px;
		margin-right: 0;
		left: 15px;
	}

	.submenu2 .sub-menu .catalogue-menu__item:hover .sub-menu2,
	.catalogue-menu__item:hover .submenu,
	.catalogue-menu__item:hover .submenu2 {
	   display: none;
	}

	.submenu2 .product-day {
		display: none;
	}

	.sub-menu-first .sub-menu,
	.sub-menu-second .sub-menu,
	.sub-menu-third .sub-menu {
		display: none;
	}

	.submenu2 {
		height: auto;
	}

	.submenu2 .sub-menu {
		margin-bottom: 0;
	}

	.submenu2 .sub-menu .catalogue-menu__item a,
	.sub-menu-first__item a,
	.sub-menu-second__item a,
	.sub-menu-third__item a {
   	padding: 8px 8px 8px 30px;
		background: #f6f6f6;
	}

	.sub-menu-first__item a,
	.sub-menu-second__item a,
	.sub-menu-third__item a {
		color: black;
		margin: 0;
	}

	.sub-menu-first .sub-menu-first__item i,
	.sub-menu-second .sub-menu-second__item i,
	.sub-menu-third .sub-menu-third__item i {
		display: inline-block;
	}

	.submenu .sub-menu__item a {
   	padding: 8px 8px 8px 30px;
		margin: 0;
		background: #f6f6f6;
    	color: #000 !important;
	}

	.all {
		display: none;
	}

	.submenu2 .sub-menu2 .catalogue-menu__item a {
   	padding: 8px 8px 8px 45px;
    	background: #e8e8e8;
	}

	.submenu2,
	.submenu {
	   right: 0;
	  	width: 100%;
	  	padding: 0;
	  	height: auto;
	   top: 100%;
	   position: relative;
		border-radius: 0;
	}

	.sub-menu2,
	.sub-menu {
		border-radius: 0;
	   position: relative;
	   margin: 0;
	}

	.submenu .sub-menu {
		border: none;
	}

	.sub-menu .sub-menu__item a {
		padding-left: 45px;
	}
	.sub-menu .title a,
	#title a {
		padding-left: 30px;
	}

	.sub-menu2 {
		position: relative;
		right: 0;
		top: 100%;
	}

   .catalogue .dop-mobile {
      display: block;
   }

   .catalogue .dop-mobile ul li a {
      border: none;
      color: #FFF;
   }

   .catalogue .dop-mobile ul .orange {
      background-color: #F89303;
   }
   .catalogue .dop-mobile ul .green {
      background-color: #00CB6B;
   }


	.brand .container .row {
		display: flex;
		justify-content: space-between;
	}
   .logo-block__choose-region {
      display: none;
   }
	.brand .container .row .col-lg-2,
	.brand .container .row .col-lg-4 {
		flex-basis: 28%;
		text-align: center;
	}
	.brand .container .row .col-lg-2 .user-cart {
		text-align: center;
	}

   .brand .container .row .col-lg-2:nth-of-type(4),
   .brand .container .row .col-lg-2:nth-of-type(6) {
      display: none;
   }

   .brand .container .row .col-lg-2:nth-of-type(5) {
      flex-basis: 100%;
      text-align: center;   
      height: 20px;
   }
   .brand .container .row .col-lg-2:nth-of-type(5) .feedback__email {
      display: none;
   }
   .brand .container .row .col-lg-2:nth-of-type(5) .our-feedback-info {
      padding-top: 10px;
   }

   .brand .container .row .col-lg-4 {
      margin-left: 60px;
   }

	#news-modile {
		display: block;
		margin-top: 40px;
	}
	#news-modile .more-news {
		margin-top: 30px;
	}
	#news-modile .news-list__item {
		margin-bottom: 15px;
	}

	.form__submit {
		z-index: 1000;
	}

	.metal-base-offer,
	.img_truck {
		margin-bottom: 0;
	}

	.about__left-text, .about__right-text {
		flex-basis: 100%;
		margin-bottom: 30px;
	}

   footer .row {
      justify-content: center;
   }

   footer .copyright .head-address {
      display: none;
   }

   footer .copyright,
   footer .soc-net,
   footer .info {
      flex-basis: 100%;
      margin-bottom: 20px;
   }
   }
   footer .copyright__text {
      flex-basis: 30%;
      float: right;
   }
}


@media only screen and (max-width: 767px) {
	#second-slider .draggable {
		margin-left: 0 !important;
		padding: 15px 0 15px 15px !important;
	}
	#second-slider:after {
		content: none !important;
	}
   #second-slider .slick-slide {
      width: 248px !important;
   }

   .brand .container .row .col-lg-4 {
      margin-left: 30px;
   }

   .user-cart__icon {
      top: -20px;
      left: 100%;
   }

   .offer__item {
     flex-basis: 100%;
   }
}

@media only screen and (max-width: 575px) {
   .catalogue {
      width: 130%;
   }

   #aside {
      width: 50%;
      left: -100%;
   }

   .offer__item {
      flex-basis: 100%;
   }

   footer .copyright {
      justify-content: space-around;
   }
   footer .info .info__right-info {
      display: none;
   }
   footer .info .info__left-info {
      flex-basis: 100%;
   }
}

@media only screen and (max-width: 375px) {
   #show-menu {
      padding: 0 10px 0 30px;
      height: 35px;
      line-height: 35px;
      font-size: 12px;
      top: 5px;
   }
   #show-menu i {
      top: 9px;
      left: 9px;
      font-size: 17px;
   }

   .brand .container .row .col-lg-4 {
      padding: 0;
      margin-left: 15px;
   }
   .logo-block__logo {
      width: 120px;
      height: 46px;
   }
   .brand .container .row .col-lg-2 {
      padding: 0;
      flex-basis: 18%;
   }
   .brand .container .row .col-lg-2 .user-cart {
      height: 50px;
   }
   .user-cart__icon {
      top: -20px;
      left: 0;
   }

   #search-select {
      display: none;
   }
   .form__search {
      padding-left: 20px;
      height: 35px;
   }
   .form__submit {
      height: 35px;
      line-height: 36px;
   }

   #main-slider .draggable {
      height: 200px;
   }

   #aside {
      width: 70%;
   }
}