body, html, p, ul, li, h1, h2, h3, h4, *, textarea, input {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    list-style: none;
    font-size: 17px;
}

body, html, main {
    min-height: 100vh;
    max-height: 100vh;
}

main {
    display: flex;
}

.left-decor {
    flex-basis: 20%;
    background: #2b2f3e;
    padding: 25px;
}

.left-decor h1 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 33px;
    color: #ffffff;
}

.left-decor p:nth-child(2) {
    color: #808080;
    font-size: 18px;
}

.right-action {
    flex-basis: 80%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px;
    background: #f9f9f9;
    display: flex;
}

.right-action .items,
.right-action .comments {
    flex-basis: 49%;
    min-height: 70%;
    max-height: 100%;
    overflow: auto;
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 5px grey;
    padding: 15px 20px;
}

.right-action .comments {
    padding-bottom: 120px;
}

.right-action .items {
    padding-right: 15px;
}

.title,
.title span {
    color: #565a69;
    font-size: 33px;
    margin-bottom: 15px;
    font-weight: normal;
}

.right-action .comments .title {
    margin-bottom: 35px;
}

#active:before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background: #ff2f5a;
    top: 0;
    left: -22px;
}