.wrap {
    max-height: 100vh;
    overflow: hidden;
}

.list-comments {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100px;
    max-height: 400px;
    overflow: auto;
}

.list-comment {
    padding-bottom: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f2f2f2;
}

.list-comment:last-child {
    border: none;
}

.comment-text,
.comment-avatar {
    float: left;
}

.comment-avatar,
.user-avatar {
    width: 60px;
    height: 60px;
    background: rgba(255, 165, 0, 0.71);
    margin-right: 3%;
}

.user-avatar {
	background: #E6E6E6;
}

.list-comment:nth-child(odd) .comment-avatar {
    background: rgba(71, 182, 255, 0.71);
}

.comment-text {
    width: 80%;
    font-size: 14px;
    line-height: 150%;
    color: #666666;
}

.user-form {
    display: flex;
    position: absolute;
    width: 95%;
    bottom: 20px;
    left: 20px;
    margin-top: 20px;
}

#user-text {
    flex-basis: 80%;
    padding: 10px;
    color: #666666;
    outline: none;
    font-size: 14px;
}